<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.mojang.util" shutdownHook="disable">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %level [%t] [%c{1.3}]: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="cpw.mods.modlauncher.ClassTransformer" level="OFF"/>
        <Root level="info">
            <AppenderRef ref="SysOut" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>

