<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Properties>
    <Property name="sponge.exceptionFormat">StyleMapName=Spock Name=reset,red NameMessageSeparator=red Message=red StackTraceElement.ClassName=red StackTraceElement.ClassMethodSeparator=red,faint StackTraceElement.MethodName=yellow StackTraceElement.NativeMethod=yellow</Property>
    <Property name="sponge.exceptionFiltered">jdk.internal,sun.reflect</Property>
  </Properties>
  <Appenders>
    <Console name="SysOut" target="SYSTEM_OUT">
     <PatternLayout pattern="%d{ISO8601} %level [%t] [%c{1.3}]: %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- Log Vanilla loggers at INFO to suppress some debug messages -->
    <Logger name="net.minecraft" level="INFO"/>
    <Logger name="com.mojang" level="INFO"/>

    <Root level="DEBUG">
      <AppenderRef ref="SysOut" level="INFO"/>
    </Root>
  </Loggers>
  <filters>
    <MarkerFilter marker="LAUNCHPLUGIN" onMatch="DENY" onMismatch="NEUTRAL"/>
    <MarkerFilter marker="PACKET_SENT" onMatch="DENY" onMismatch="NEUTRAL"/>
    <MarkerFilter marker="PACKET_RECEIVED" onMatch="DENY" onMismatch="NEUTRAL"/>
  </filters>
</Configuration>
